.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    height: 100vh; /* Full height of the viewport */
  }
  
  .signup-form {
    width: 300px; /* Adjust the width of the form */
    margin: 20px; /* Add margin around the form */
    border: 3px solid lightblue; /* Add light blue thin border */
    border-radius: 8px; /* Add rounded corners */
    padding: 20px;
    text-align: center; /* Center the form content */
  }
  
  .signup-form label {
    font-size: 1.2rem; /* Increase font size of labels */
  }
  
  .signup-form input,
  .signup-form button {
    display: block; /* Display inputs and buttons as block elements */
    width: calc(100% - 20px); /* Set width of inputs to fill the container */
    margin: 10px auto; /* Add margin between input fields and center them horizontally */
    font-size: 1.2rem; /* Increase font size of inputs */
    padding: 8px; /* Add padding to inputs */
  }

  .signup-form button {
    border: none; /* Remove button border */
    background-color: #007bff; /* Blue background color */
    color: white; /* White font color */
    cursor: pointer; /* Change cursor to pointer */
    transition: all 0.3s ease; /* Smooth transition for hover effect */
  }
  
  .signup-form button:hover {
    transform: scale(1.05); /* Scale up button slightly on hover */
    background-color: #0056b3; /* Slightly lighter shade of blue */
  }
  
  .error-message {
    color: red; /* Set font color to red */
  }
  